@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway:800");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700");
* {
  box-sizing: border-box; }

body {
  margin: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

h1, h3, h3, p {
  margin: 0;
  padding: 0; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 0; }

body {
  font-size: 16px;
  font-family: "Roboto", "微軟正黑體", sans-serif;
  color: #9B9B9B; }

h1, h2, h3 {
  font-weight: 600;
  margin: 0; }

.title {
  font-size: 36px;
  font-weight: bold;
  color: #9013FE;
  margin-bottom: 15px; }

.subtitle {
  font-size: 24px;
  font-weight: bold;
  color: #2f3542;
  margin-bottom: 15px; }

.p {
  font-size: 16px; }

::placeholder {
  color: rgba(255, 255, 255, 0.5); }
  @media (max-width: 568px) {
    ::placeholder {
      color: rgba(47, 53, 66, 0.5); } }

label {
  font-size: 16px;
  color: #2f3542; }

input {
  display: inline-block;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 0; }

i {
  color: #2f3542;
  padding: 3px 6px; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  background-color: #f2f2f2; }
  .container:before, .container:after {
    content: '';
    display: table; }
  .container:after {
    clear: both; }

p.p.error {
  background-color: #ebebeb;
  color: #7828B4;
  border-bottom: 3px solid #7828B4;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 6px 12px; }

.header {
  height: 90px;
  background-color: #7828B4; }
  @media (max-width: 568px) {
    .header {
      height: auto;
      background-color: transparent; } }
  .header .container {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 38px;
    background-color: transparent; }
    @media (max-width: 568px) {
      .header .container {
        flex-flow: column wrap;
        justify-content: center;
        padding: 0; } }
  .header .logo {
    flex: 0 0 auto;
    width: 300px;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: "Raleway", sans-serif; }
    .header .logo a {
      color: #fff; }
    @media (max-width: 568px) {
      .header .logo {
        width: 100%;
        height: 70px;
        line-height: 70px;
        text-align: center;
        background-color: #7828B4; } }
  .header .search {
    width: 100%;
    vertical-align: middle;
    cursor: pointer; }
    @media (max-width: 568px) {
      .header .search {
        background-color: #D7D7D7;
        height: 55px;
        line-height: 55px;
        text-align: center;
        padding: 0 40px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.08);
        z-index: 10; } }
    .header .search i {
      position: relative;
      bottom: -3px;
      font-size: 28px;
      color: #fff; }
      @media (max-width: 568px) {
        .header .search i {
          color: #2f3542; } }
    .header .search input {
      width: 100%;
      max-width: 388px;
      background-color: transparent;
      border-bottom: 1px solid #fff;
      padding-left: 40px;
      margin-left: -30px;
      color: rgba(255, 255, 255, 0.5);
      font-size: 20px;
      font-style: italic;
      caret-color: #fff;
      transition: all .3s;
      position: relative; }
      @media (max-width: 768px) {
        .header .search input {
          max-width: 350px;
          margin-left: -40px; } }
      @media (max-width: 568px) {
        .header .search input {
          max-width: 100%;
          color: rgba(47, 53, 66, 0.5);
          caret-color: #2f3542;
          border-bottom: 1px solid #2f3542; } }

@media (max-width: 568px) {
  .header.header-inner-page {
    height: 70px;
    height: auto;
    background-color: #7828B4; }
    .header.header-inner-page .container {
      padding: 0 20px;
      flex-flow: row nowrap;
      display: flex;
      justify-content: space-between; }
    .header.header-inner-page .logo {
      font-size: 24px;
      width: initial;
      text-align: left; }
    .header.header-inner-page .search {
      flex: 1 1 auto;
      width: initial;
      text-align: right;
      background-color: transparent;
      position: relative;
      box-shadow: none; }
      .header.header-inner-page .search i {
        color: #fff;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%); }
      .header.header-inner-page .search input {
        margin-left: 0;
        padding-left: 0;
        border-bottom: solid 1px #fff;
        color: rgba(255, 255, 255, 0.5);
        caret-color: #fff;
        width: 0px;
        visibility: hidden; }
      .header.header-inner-page .search input::placeholder {
        color: rgba(255, 255, 255, 0.5); }
      .header.header-inner-page .search:hover input {
        width: 100%;
        visibility: visible; } }

.side {
  float: left;
  width: 300px;
  display: inline-block; }
  @media (max-width: 768px) {
    .side {
      width: 270px; } }
  @media (max-width: 568px) {
    .side {
      width: 100%; } }

@media (max-width: 768px) {
  .side.side-inner-page {
    display: none; } }

.content {
  float: left;
  width: calc(100% - 300px); }
  @media (max-width: 768px) {
    .content {
      width: calc(100% - 270px); } }
  @media (max-width: 568px) {
    .content {
      width: 100%; } }

@media (max-width: 768px) {
  .content.content-inner-page {
    width: 100%;
    padding: 24px 40px; } }

.side {
  background-color: #ebebeb; }
  .side-location, .side-date, .side-categories {
    padding: 26px 38px; }
    @media (max-width: 768px) {
      .side-location, .side-date, .side-categories {
        padding: 20px 25px; } }
    @media (max-width: 568px) {
      .side-location, .side-date, .side-categories {
        height: 64px;
        padding: 20px 40px;
        overflow: hidden;
        background-color: #D7D7D7;
        position: relative; }
        .side-location:before, .side-location:after, .side-date:before, .side-date:after, .side-categories:before, .side-categories:after {
          content: '\2014';
          position: absolute;
          right: 40px;
          top: 0px;
          height: 64px;
          line-height: 64px;
          font-size: 30px;
          transition: all .3s; }
        .side-location:hover, .side-date:hover, .side-categories:hover {
          background-color: #ebebeb;
          height: auto; }
          .side-location:hover:after, .side-date:hover:after, .side-categories:hover:after {
            transform: rotate(-90deg); } }
  .side-location {
    border-bottom: solid 1px #D7D7D7; }
    @media (max-width: 568px) {
      .side-location {
        border-bottom: solid 1px #9B9B9B; } }
    .side-location .select-style {
      position: relative; }
      .side-location .select-style:before {
        content: '\f280';
        font-family: "Ionicons";
        color: #2f3542;
        font-size: 20px;
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%); }
    .side-location select {
      height: 40px;
      width: 220px;
      padding: 8px 11px;
      font-size: 16px;
      border: none;
      background-color: #fff; }
      @media (max-width: 568px) {
        .side-location select {
          width: 100%; } }
  .side-date {
    border-bottom: solid 1px #D7D7D7; }
    .side-date .input-group {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 8px; }
      .side-date .input-group label {
        margin-right: 13px; }
      .side-date .input-group input[type='date'] {
        width: 170px; }
      @media (max-width: 568px) {
        .side-date .input-group {
          justify-content: flex-start; }
          .side-date .input-group label {
            width: 40px; }
          .side-date .input-group input[type='date'] {
            width: 100%; } }
  .side-categories .input-group {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 8px; }
    .side-categories .input-group .checkbox-style {
      position: relative;
      width: 17px;
      height: 17px;
      background-color: #fff;
      transition: all .6s;
      cursor: pointer; }
      .side-categories .input-group .checkbox-style:before, .side-categories .input-group .checkbox-style:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        transition: all .6s; }
      .side-categories .input-group .checkbox-style:after {
        background-color: #7828B4;
        border-radius: 50%;
        width: 0%;
        height: 0%; }
      .side-categories .input-group .checkbox-style:before {
        content: "\f2bc";
        font-family: "Ionicons";
        opacity: 0;
        color: #fff; }
      .side-categories .input-group .checkbox-style:hover {
        background-color: rgba(120, 40, 180, 0.7); }
    .side-categories .input-group .checkbox-style.active {
      background-color: #7828B4; }
      .side-categories .input-group .checkbox-style.active:after {
        width: 300%;
        height: 300%;
        opacity: 0; }
      .side-categories .input-group .checkbox-style.active:before {
        opacity: 1; }
    .side-categories .input-group input[type='checkbox'] {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0; }
    .side-categories .input-group label {
      margin-left: 22px;
      line-height: 20px;
      white-space: nowrap;
      cursor: pointer; }

.btn {
  display: inline-block;
  padding: 10px 20px;
  border: solid 1px #9013FE;
  border-radius: 200px;
  font-style: italic;
  color: #9013FE;
  letter-spacing: 0.5px;
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
  transition: all .3s; }
  .btn:hover {
    background-color: #9013FE;
    color: #fff; }
    .btn:hover:after {
      border: solid 1px #fff !important; }

.btn.btn-close {
  padding-right: 40px;
  position: relative;
  font-weight: normal; }
  .btn.btn-close:before, .btn.btn-close:after {
    content: "";
    position: absolute;
    transform: translateY(-50%);
    width: 15px;
    height: 15px; }
  .btn.btn-close:before {
    content: "\00d7";
    top: 48%;
    right: 16px;
    line-height: 15px;
    font-family: "Ionicons";
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
    text-align: center; }
  .btn.btn-close:after {
    top: 50%;
    right: 15px;
    border: solid 1px #9013FE;
    border-radius: 50%;
    z-index: 10; }

.btn-group {
  margin-top: 8px; }
  .btn-group .btn {
    margin-right: 8px; }
  .btn-group .btn + .btn {
    margin-top: 8px; }

.imgbox {
  width: auto;
  display: inline-block;
  overflow: hidden; }

.imgbox-inner {
  position: relative;
  width: 100%;
  padding-top: 100%;
  height: 0; }
  @media (max-width: 1024px) {
    .imgbox-inner {
      padding-top: 200px; } }

.img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%; }
  @media (max-width: 1024px) {
    .img {
      max-height: initial;
      max-width: 100%; } }

.content {
  padding: 26px 40px; }
  .content:before, .content:after {
    content: '';
    display: table; }
  .content:after {
    clear: both; }
  @media (max-width: 768px) {
    .content {
      padding: 20px 25px; } }
  @media (max-width: 568px) {
    .content {
      padding: 26px 40px; } }
  .content-top {
    margin-bottom: 24px; }
    .content-top .p {
      font-size: 24px;
      color: #2f3542; }
      .content-top .p span {
        font-weight: bold;
        color: #7828B4; }
  .content-item + .content-item {
    margin-top: 24px; }
  .content-item {
    display: flex;
    width: 100%;
    height: 220px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    transition: all .3s; }
    @media (max-width: 1024px) {
      .content-item {
        flex-direction: column;
        height: 420px; } }
    @media (max-width: 768px) {
      .content-item {
        height: 450px; } }
    .content-item:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transform: translate(-2px, -2px); }
  .content-img {
    flex: 0 0 auto;
    width: 220px; }
    @media (max-width: 1024px) {
      .content-img {
        width: 100%; } }
  .content-info {
    flex: 1 1 auto;
    padding: 24px 20px; }
    .content-info:before, .content-info:after {
      content: '';
      display: table; }
    .content-info:after {
      clear: both; }
    .content-info .subtitle {
      color: #9013FE;
      font-weight: 400;
      letter-spacing: 1px; }
  .content-des {
    position: relative;
    height: 50px;
    line-height: 24px;
    color: #2f3542;
    overflow: hidden;
    transition: all .3s; }
    .content-des:before {
      content: '...';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 32px;
      height: 24px;
      padding-left: 0px;
      color: #2f3542;
      background-color: #fff;
      cursor: pointer; }
  .content-ticket {
    display: flex;
    padding: 16px 0; }
    .content-ticket h3 {
      font-size: 16px;
      color: #2f3542;
      letter-spacing: 1px; }
  .content-tag {
    margin-left: 20px;
    padding: 3px 16px;
    line-height: 19px;
    border-radius: 100px;
    background-color: #D7D7D7;
    color: #fff;
    font-weight: 300; }
  .content-addr, .content-open, .content-webside {
    display: flex;
    float: left;
    color: #9B9B9B;
    font-weight: 300;
    padding-right: 10px; }
    .content-addr i, .content-open i, .content-webside i {
      margin-left: -7px;
      width: 30px;
      text-align: center; }
    .content-addr p, .content-open p, .content-webside p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
  .content-addr {
    width: 65%; }
    @media (max-width: 768px) {
      .content-addr {
        width: 100%;
        margin-bottom: 5px; } }
  .content-open {
    width: 30%; }
    @media (max-width: 768px) {
      .content-open {
        width: 80%; } }
  .content-webside {
    width: 5%; }
    @media (max-width: 768px) {
      .content-webside {
        width: 20%; } }
  .content-paging {
    float: right;
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
    max-width: 280px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer; }
    @media (max-width: 568px) {
      .content-paging {
        float: none;
        margin: 24px auto 0 auto; } }
    .content-paging .page-item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background-color: #fff;
      border: solid 1px #f2f2f2;
      color: #9013FE; }
      .content-paging .page-item:before, .content-paging .page-item:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .content-paging .page-item:before {
        width: 1%;
        height: 1%;
        transition: all .6s;
        border-radius: 50%;
        background-color: #9013FE; }
      .content-paging .page-item i {
        color: #9013FE; }
      .content-paging .page-item:hover:before {
        width: 200%;
        height: 200%;
        opacity: 0; }
      .content-paging .page-item:hover:active:before {
        width: 100%;
        height: 100%;
        opacity: 1;
        border-radius: 0;
        transition: all .3s; }
      .content-paging .page-item:hover:active:after {
        content: attr(data-item);
        color: #fff;
        transition: all .3s; }
    .content-paging .page-item.active {
      background-color: #9013FE;
      color: #fff; }

.content-only {
  padding: 24px 0; }
  .content-only .content-item {
    flex-direction: column;
    height: auto; }
    @media (max-width: 768px) {
      .content-only .content-item {
        margin-left: -40px;
        width: calc(100% + 80px);
        box-shadow: none; } }
    .content-only .content-item:hover {
      transform: none; }
  @media (max-width: 768px) {
    .content-only .content-info {
      padding: 24px 40px; } }
  .content-only .content-img {
    width: 100%; }
  .content-only .imgbox-inner {
    padding-top: 55%; }
  .content-only .img {
    max-width: 100%;
    max-height: initial; }
  .content-only .content-des {
    height: auto;
    line-height: 1.5;
    padding-top: 16px;
    width: 100%;
    color: rgba(47, 53, 66, 0.8); }
    .content-only .content-des:before {
      display: none; }
  .content-only .content-addr, .content-only .content-open, .content-only .content-webside {
    width: auto;
    padding-right: 20px; }
    @media (max-width: 768px) {
      .content-only .content-addr, .content-only .content-open, .content-only .content-webside {
        padding-right: 13px; } }
  @media (max-width: 568px) {
    .content-only .content-addr {
      width: 100%; } }
  @media (max-width: 568px) {
    .content-only .content-open {
      padding-right: 20px; } }

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  background-color: #7828B4; }
  .footer-text {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    margin-right: 10px; }
  .footer-link {
    color: #fff;
    margin-right: 10px; }
    .footer-link i {
      margin-top: 3px;
      color: #fff;
      font-size: 22px; }

.breadcrumb {
  background-color: #ebebeb;
  display: flex;
  padding: 0 16px;
  height: 48px;
  line-height: 48px; }
  @media (max-width: 768px) {
    .breadcrumb {
      margin-left: -20px;
      width: calc(100% + 40px); } }
  .breadcrumb-item {
    margin-right: 30px;
    position: relative; }
    .breadcrumb-item-primary {
      color: #9013FE; }
  .breadcrumb-item + .breadcrumb-item:before {
    content: '/';
    position: absolute;
    top: 0;
    left: -20px;
    width: 10px;
    height: 100%;
    text-align: center; }
