// == $color ==
$color-primary: #7828B4
$color-primary-light: #9013FE
$color-gray: #9B9B9B
$color-gray-light1: #D7D7D7
$color-gray-light2: #ebebeb
$color-gray-light3: #f2f2f2
$color-white: #fff
$color-black: #2f3542
// == $color End ==


// == $mixin ==
@mixin poaLT($w: auto, $h: auto)
    position: absolute
    top: 0
    left: 0
    width: $w
    height: $h

@mixin flexCenter
    display: flex
    align-items: center
    justify-content: center

@mixin abCenter
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)

@mixin clearfix
    &:before,&:after
        content: ''
        display: table
    &:after
        clear: both

@mixin rwd($breakpoint)
	@if $breakpoint == xs
		@media (max-width: 375px) { @content }
	@if $breakpoint == sm
		@media (max-width: 568px) { @content }
	@if $breakpoint == pad
		@media (max-width: 768px) { @content }
	@if $breakpoint == md
		@media (max-width: 1024px) { @content }
	@if $breakpoint == lg
		@media (max-width: 1200px) { @content }


// == $mixin End ==


// == $reset ==
*
    box-sizing: border-box
body
    margin: 0
ul
    list-style: none
    margin: 0
    padding: 0
a
    text-decoration: none
h1,h3,h3,p
    margin: 0
    padding: 0
select
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    outline: none
    border-radius: 0
// == $reset End ==


// == $typography ==
@import url('https://fonts.googleapis.com/css?family=Raleway:800');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700')
$font: 'Roboto', '微軟正黑體', sans-serif
$font-title: 'Raleway', sans-serif

body
    font-size: 16px
    font-family: $font
    color: $color-gray

h1,h2,h3
    font-weight: 600
    margin: 0

.title
    font-size: 36px
    font-weight: bold
    color: $color-primary-light
    margin-bottom: 15px
.subtitle
    font-size: 24px
    font-weight: bold
    color: $color-black
    margin-bottom: 15px

.p
    font-size: 16px

::placeholder
    color: rgba($color-white,0.5)
    +rwd(sm)
        color: rgba($color-black,0.5)
label
    font-size: 16px
    color: $color-black
input
    display: inline-block
    outline: none
    border: none
    padding: 0
    margin: 0
    padding: 6px 12px
    font-size: 16px
    font-weight: 300
    border-radius: 0
// == $typography End ==


// == $icon == ionicons
i
    color: $color-black
    padding: 3px 6px

// == $icon End ==


.container
    max-width: 1140px
    margin: 0 auto
    +clearfix
    background-color: $color-gray-light3

p.p.error
    background-color: $color-gray-light2
    color: $color-primary
    border-bottom: 3px solid $color-primary
    font-size: 20px
    margin-bottom: 20px
    padding: 6px 12px



// == $header ==
.header
    height: 90px
    background-color: $color-primary
    +rwd(sm)
        height: auto
        background-color: transparent
    .container
        display: flex
        height: 100%
        align-items: center
        padding: 0 38px
        background-color: transparent
        +rwd(sm)
            flex-flow: column wrap
            justify-content: center
            padding: 0
    .logo
        flex: 0 0 auto
        width: 300px
        font-size: 36px
        font-weight: bold
        letter-spacing: 1px
        font-family: $font-title
        a
            color: $color-white
        +rwd(sm)
            width: 100%
            height: 70px
            line-height: 70px
            text-align: center
            background-color: $color-primary
    .search
        width: 100%
        vertical-align: middle
        cursor: pointer
        +rwd(sm)
            background-color: $color-gray-light1
            height: 55px
            line-height: 55px
            text-align: center
            padding: 0 40px
            box-shadow: 0 4px 6px 0 rgba(black,0.08)
            z-index: 10
        i
            position: relative
            bottom: -3px
            font-size: 28px
            color: $color-white
            +rwd(sm)
                color: $color-black
        input
            width: 100%
            max-width: 388px
            background-color: transparent
            border-bottom: 1px solid $color-white
            padding-left: 40px
            margin-left: -30px
            color: rgba($color-white,0.5)
            font-size: 20px
            font-style: italic
            caret-color: $color-white
            transition: all .3s
            position: relative
            +rwd(pad)
                max-width: 350px
                margin-left: -40px
            +rwd(sm)
                max-width: 100%
                color: rgba($color-black, 0.5)
                caret-color: $color-black
                border-bottom: 1px solid $color-black

.header.header-inner-page
    +rwd(sm)
        height: 70px
        height: auto
        background-color: $color-primary
        .container
            padding: 0 20px
            flex-flow: row nowrap
            display: flex
            justify-content: space-between
        .logo
            font-size: 24px
            width: initial
            text-align: left
        .search
            flex: 1 1 auto
            width: initial
            text-align: right
            background-color: transparent
            position: relative
            box-shadow: none
            i
                color: $color-white
                position: absolute
                right: 0
                top: 50%
                transform: translateY(-50%)
            input
                margin-left: 0
                padding-left: 0
                border-bottom: solid 1px $color-white
                color: rgba($color-white, 0.5)
                caret-color: $color-white
                width: 0px
                visibility: hidden
            input::placeholder
                color: rgba($color-white,0.5)
            &:hover
                input
                    width: 100%
                    visibility: visible
// == $header End ==


// == $layout ==
.side
    float: left
    width: 300px
    display: inline-block
    +rwd(pad)
        width: 270px
    +rwd(sm)
        width: 100%

.side.side-inner-page
    +rwd(pad)
        display: none

.content
    float: left
    width: calc(100% - 300px)
    +rwd(pad)
        width: calc(100% - 270px)
    +rwd(sm)
        width: 100%

.content.content-inner-page
    +rwd(pad)
        width: 100%
        padding: 24px 40px
// == $layout End ==


// == $side 側邊欄工具列 ==
.side
    background-color: $color-gray-light2
    &-location,&-date,&-categories
        padding: 26px 38px
        +rwd(pad)
            padding: 20px 25px
        +rwd(sm)
            height: 64px
            padding: 20px 40px
            overflow: hidden
            background-color: $color-gray-light1
            position: relative
            &:before,&:after
                content: '\2014'
                position: absolute
                right: 40px
                top: 0px
                height: 64px
                line-height: 64px
                font-size: 30px
                transition: all .3s
    &-location
        border-bottom: solid 1px $color-gray-light1
        +rwd(sm)
            border-bottom: solid 1px $color-gray
        .select-style
            position: relative
            &:before
                content: '\f280'
                font-family: "Ionicons"
                color: $color-black
                font-size: 20px
                position: absolute
                right: 12px
                top: 50%
                transform: translateY(-50%)
        select
            height: 40px
            width: 220px
            padding: 8px 11px
            font-size: 16px
            border: none
            background-color: $color-white
            +rwd(sm)
                width: 100%
    &-date
        border-bottom: solid 1px $color-gray-light1
        .input-group
            width: 100%
            height: 40px
            display: flex
            justify-content: flex-end
            align-items: center
            margin-bottom: 8px
            label
                margin-right: 13px
            input[type='date']
                width: 170px
            +rwd(sm)
                justify-content: flex-start
                label
                    width: 40px
                input[type='date']
                    width: 100%
    &-categories
        .input-group
            width: 100%
            height: 20px
            display: flex
            align-items: center
            margin-bottom: 8px
            .checkbox-style
                position: relative
                width: 17px
                height: 17px
                background-color: $color-white
                transition: all .6s
                cursor: pointer
                &:before,&:after
                    content: ''
                    +abCenter
                    pointer-events: none
                    transition: all .6s
                &:after
                    background-color: $color-primary
                    border-radius: 50%
                    width: 0%
                    height: 0%
                &:before
                    content: "\f2bc"
                    font-family: "Ionicons"
                    opacity: 0
                    color: $color-white
                &:hover
                    background-color: rgba($color-primary,0.7)

            .checkbox-style.active
                background-color: $color-primary
                &:after
                    width: 300%
                    height: 300%
                    opacity: 0
                &:before
                    opacity: 1

            input[type='checkbox']
                position: absolute
                top: 0
                left: 0
                opacity: 0
            label
                margin-left: 22px
                line-height: 20px
                white-space: nowrap
                cursor: pointer

// 手機版切換
.side-location.active,.side-categories.active
    background-color: $color-gray-light2
    height: auto
    &:after
        transform: rotate(-90deg)

// == $side 側邊欄工具列 End ==


// == $btn ==
.btn
    display: inline-block
    padding: 10px 20px
    border: solid 1px $color-primary-light
    border-radius: 200px
    font-style: italic
    color: $color-primary-light
    letter-spacing: 0.5px
    cursor: pointer
    user-select: none
    -webkit-user-drag: none
    transition: all .3s
    &:hover
        background-color: $color-primary-light
        color: $color-white
        &:after
            border: solid 1px $color-white !important

.btn.btn-close
    padding-right: 40px
    position: relative
    font-weight: normal
    &:before,&:after
        content: ""
        position: absolute
        transform: translateY(-50%)
        width: 15px
        height: 15px

    &:before
        content: "\00d7"
        top: 48%
        right: 16px
        line-height: 15px
        font-family: "Ionicons"
        font-style: normal
        font-size: 16px
        font-weight: 300
        text-align: center
    &:after
        top: 50%
        right: 15px
        border: solid 1px $color-primary-light
        border-radius: 50%
        z-index: 10

.btn-group
    margin-top: 8px
    .btn
        margin-right: 8px
    .btn + .btn
        margin-top: 8px
// == $btn End ==


// == $等比例 RWD img ==
.imgbox
    width: auto
    display: inline-block
    overflow: hidden
.imgbox-inner
    position: relative
    width: 100%
    padding-top: 100%
    height: 0
    +rwd(md)
        padding-top: 200px
.img
    +abCenter
    max-height: 100%
    +rwd(md)
        max-height: initial
        max-width: 100%
// == $等比例 RWD img End ==


// == $content ==
.content
    padding: 26px 40px
    +clearfix
    +rwd(pad)
        padding: 20px 25px
    +rwd(sm)
        padding: 26px 40px

    // 頂部提示文字、標籤btn區
    &-top
        margin-bottom: 24px
        .p
            font-size: 24px
            color: $color-black
            span
                font-weight: bold
                color: $color-primary


    // 景點內容區
    &-item + &-item
        margin-top: 24px
    &-item
        display: flex
        width: 100%
        height: 220px
        overflow: hidden
        background-color: $color-white
        box-shadow: 0 2px 6px 0 rgba(black,0.2)
        transition: all .3s
        +rwd(md)
            flex-direction: column
            height: 420px
        +rwd(pad)
            height: 450px
        &:hover
            box-shadow: 0 4px 8px 0 rgba(black,0.2)
            transform: translate(-2px, -2px)
    &-img
        flex: 0 0 auto
        width: 220px
        +rwd(md)
            width: 100%

    &-info
        flex: 1 1 auto
        padding: 24px 20px
        +clearfix
        .subtitle
            color: $color-primary-light
            font-weight: 400
            letter-spacing: 1px
    &-des
        position: relative
        height: 50px
        line-height: 24px
        color: $color-black
        overflow: hidden
        transition: all .3s
        &:before
            content: '...'
            position: absolute
            right: 0
            bottom: 0
            width: 32px
            height: 24px
            padding-left: 0px
            color: $color-black
            background-color: $color-white
            cursor: pointer

    &-ticket
        display: flex
        padding: 16px 0
        h3
            font-size: 16px
            color: $color-black
            letter-spacing: 1px
    &-tag
        margin-left: 20px
        padding: 3px 16px
        line-height: 19px
        border-radius: 100px
        background-color: $color-gray-light1
        color: $color-white
        font-weight: 300

    &-addr,&-open,&-webside
        display: flex
        float: left
        color: $color-gray
        font-weight: 300
        padding-right: 10px
        i
            margin-left: -7px
            width: 30px
            text-align: center
        p
            overflow: hidden
            white-space: nowrap
            text-overflow: ellipsis

    &-addr
        width: 65%
        +rwd(pad)
            width: 100%
            margin-bottom: 5px
    &-open
        width: 30%
        +rwd(pad)
            width: 80%
    &-webside
        width: 5%
        +rwd(pad)
            width: 20%


    // 分頁區
    &-paging
        width: 100%
        display: flex
        flex-flow: row wrap
        justify-content: space-between
        align-items: center
        margin-top: 24px
        +rwd(sm)
            justify-content: center
            margin: 24px auto 0 auto
        .page-text
            padding-bottom: 10px

        .page-btns
            display: flex
            // max-width: 280px
            box-shadow: 0 2px 6px 0 rgba(black,0.2)
            cursor: pointer
        .page-item
            position: relative
            +flexCenter
            width: 45px
            height: 45px
            background-color: $color-white
            border: solid 1px $color-gray-light3
            color: $color-primary-light
            &:before,&:after
                content: ''
                +abCenter
            &:before
                width: 1%
                height: 1%
                transition: all .6s
                border-radius: 50%
                background-color: $color-primary-light
            i
                color: $color-primary-light
            &:hover
                &:before
                    width: 200%
                    height: 200%
                    opacity: 0
            &:hover:active
                &:before
                    width: 100%
                    height: 100%
                    opacity: 1
                    border-radius: 0
                    transition: all .3s
                &:after
                    content: attr(data-item)
                    color: $color-white
                    transition: all .3s

        .page-item.active
            background-color: $color-primary-light
            color: $color-white


// 內頁部分
.content-only
    padding: 24px 0
    .content-item
        flex-direction: column
        height: auto
        +rwd(pad)
            margin-left: -40px
            width: calc(100% + 80px)
            box-shadow: none
        &:hover
            transform: none
    .content-info
        +rwd(pad)
            padding: 24px 40px
    .content-img
        width: 100%
    .imgbox-inner
        padding-top: 55%
    .img
        max-width: 100%
        max-height: initial
    .content-des
        height: auto
        line-height: 1.5
        padding-top: 16px
        width: 100%
        color: rgba($color-black,0.8)
        &:before
            display: none
    .content-addr,.content-open,.content-webside
        width: auto
        padding-right: 20px
        +rwd(pad)
            padding-right: 13px

    .content-addr
        +rwd(sm)
            width: 100%
    .content-open
        +rwd(sm)
            padding-right: 20px
// == $content End ==


// == $footer ==
.footer
    +flexCenter
    padding: 12px 20px
    background-color: $color-primary
    &-text
        color: $color-white
        font-weight: 300
        font-size: 14px
        footer-link
        letter-spacing: 1px
        margin-right: 10px
    &-link
        color: $color-white
        margin-right: 10px
        i
            margin-top: 3px
            color: $color-white
            font-size: 22px
// == $footer End ==


// == $breadcrumb ==
.breadcrumb
    background-color: $color-gray-light2
    display: flex
    padding: 0 16px
    height: 48px
    line-height: 48px
    +rwd(pad)
        margin-left: -20px
        width: calc(100% + 40px)
    &-item
        margin-right: 30px
        position: relative
        &-primary
            color: $color-primary-light
    &-item + &-item
        &:before
            content: '/'
            position: absolute
            top: 0
            left: -20px
            width: 10px
            height: 100%
            text-align: center
// == $ End ==