<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta property="og:image" content="./img/filter-img.png"/>
    <link href="https://unpkg.com/ionicons@4.1.2/dist/css/ionicons.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="./css/style.css"/>
    <title>Filter 高雄旅遊景點 - 前端修煉賽事第二週</title>
  </head>
  <body>
    <div id="app">
      <header class="header">
        <div class="container">
          <div class="logo"><a href="./">HaveFun</a></div>
          <div class="search"><i class="i ion ion-md-search"></i>
            <input type="text" placeholder="請輸入景點名稱" v-model="filterText" @keyup.enter="filterKeyWord"/>
          </div>
        </div>
      </header>
      <div class="container">
        <aside class="side">
          <div class="side-location">
            <h2 class="subtitle">地區</h2>
            <div class="select-style">
              <select name="" v-model="zoneText" @change="filterZone">
                <option value="">選擇地區</option>
                <option :value="item" v-for="item in zone">{{item}}</option>
              </select>
            </div>
          </div>
          <div class="side-categories">
            <h2 class="subtitle">進階篩選</h2>
            <div class="input-group">
              <div class="checkbox-style" :class="{'active' : free}">
                <input v-model="free" type="checkbox" value="entertainment" id="free" @change="filterType"/>
                <label for="free">免費參觀</label>
              </div>
            </div>
            <div class="input-group">
              <div class="checkbox-style" :class="{'active' : open}">
                <input v-model="open" type="checkbox" value="food" id="open" @change="filterType"/>
                <label for="open">全天候開放</label>
              </div>
            </div>
          </div>
        </aside>
        <article class="content">
          <div class="content-top">
            <p class="p error" v-if="error">{{errorText}}</p>
            <p class="p error" v-if="isNothing">查無資料</p>
            <p class="p">Showing <span>{{filter.length}}</span> resulits By ...</p>
            <div class="btn-group">
              <div class="btn btn-close" v-if="zoneText" @click="cancelZone">{{zoneText}}</div>
              <div class="btn btn-close" v-if="free" @click="cancelFree">免費參觀</div>
              <div class="btn btn-close" v-if="open" @click="cancelOpen">全天候開放</div>
            </div>
          </div>
          <ul class="contents">
            <li class="content-item" v-for="item in filter"><a href="./content.html">
                <div class="content-img imgbox">
                  <div class="imgbox-inner"><img class="img" :src="item.Picture1" alt="img"/></div>
                </div>
                <div class="content-info">
                  <h2 class="subtitle">{{item.Name}}</h2>
                  <p class="content-des">{{item.Description}}</p>
                  <div class="content-ticket">
                    <h3>門票說明</h3>
                    <div class="content-tag" v-if="item.Ticketinfo">{{item.Ticketinfo}}</div>
                    <div class="content-tag" v-else="v-else">無</div>
                  </div>
                  <div class="content-addr"><i class="ion ion-md-locate"></i>
                    <p>{{item.Add}}</p>
                  </div>
                  <div class="content-open"><i class="ion ion-md-calendar"></i>
                    <p>{{item.Opentime}}</p>
                  </div>
                  <div class="content-webside"><a v-if="item.Website" :href="item.Website" target="_blank"><i class="ion ion-ios-link"></i></a></div>
                </div></a></li>
          </ul>
          <div class="content-paging">
            <div class="page-item page-prev"><i class="ion ion-md-arrow-dropleft"></i></div>
            <div class="page-item active" data-item="1">1</div>
            <div class="page-item" data-item="2">2</div>
            <div class="page-item" data-item="3">3</div>
            <div class="page-item" data-item="4">4</div>
            <div class="page-item" data-item="5">5</div>
            <div class="page-item page-next"><i class="ion ion-md-arrow-dropright"></i></div>
          </div>
        </article>
      </div>
      <footer class="footer">
        <p class="footer-text">Filter - The F2E 前端修練精神時光屋 [第二週賽事] | 高雄旅遊網API應用 | Front End Development by HSI-MAO CHEN</p><a class="footer-link" href="https://github.com/hsimao/" target="_blank"><i class="icon ion-logo-github"></i></a><a class="footer-link" href="https://codepen.io/hsimao" target="_blank"><i class="icon ion-logo-codepen"></i></a>
      </footer>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
    <script src="./js/js.js"></script>
  </body>
</html>