<!DOCTYPE html>
html(lang="zh-TW")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(property="og:image" content="./img/filter-img.png")
        link(href="https://unpkg.com/ionicons@4.1.2/dist/css/ionicons.min.css" rel="stylesheet")
        link(rel="stylesheet", href="./css/style.css")
        title Filter 高雄旅遊景點 - 前端修煉賽事第二週
    body
        #app
            .loading(v-if="isLoading")
                .looping-rhombuses-spinner
                    .rhombus
                    .rhombus
                    .rhombus
            //- header
            header.header
                .container
                    .logo
                        a(href="./") HaveFun
                    .search(v-if="!innerPage")
                        i.i.ion.ion-md-search
                        input(type="text" placeholder="請輸入景點名稱" v-model="filterText" @keyup.enter="filterKeyWord")

            .container
                //- 搜尋工具列
                aside.side(v-if="!innerPage")
                    .side-location(:class="{'active' : toolLocation}" @click="toolLocation = !toolLocation")
                        h2.subtitle 地區
                        .select-style
                            select(name="" v-model="zoneText" @change="filterZone")
                                option(value="") 選擇地區
                                option(:value="item" v-for="item in zone") {{item}}

                    .side-categories(:class="{'active' : toolType}" @click="toolType = !toolType")
                        h2.subtitle 進階篩選
                        .input-group
                            .checkbox-style(:class="{'active' : free}")
                                input(v-model="free" type="checkbox" value="entertainment" id="free" @change="filterType")
                                label(for="free") 免費參觀
                        .input-group
                            .checkbox-style(:class="{'active' : open}")
                                input(v-model="open" type="checkbox" value="food" id="open" @change="filterType")
                                label(for="open") 全天候開放

                //- 內容區塊
                article.content(v-if="!innerPage")
                    .content-top
                        p.p.error(v-if="error") {{errorText}}
                        p.p.error(v-if="isNothing") 查無資料
                        p.p Showing <span>{{filterData.length}}</span> resulits By ...
                        .btn-group
                            .btn.btn-close(v-if="zoneText" @click="cancelZone") {{zoneText}}
                            .btn.btn-close(v-if="free" @click="cancelFree") 免費參觀
                            .btn.btn-close(v-if="open" @click="cancelOpen") 全天候開放
                    ul.contents
                        li.content-item(v-for="item in slicePageData")
                            a(href="#" @click.prevent="toggleInnerPage(item)")
                                .content-img.imgbox
                                    .imgbox-inner
                                        img.img(:src="item.Picture1", alt="img")
                                .content-info
                                    h2.subtitle {{item.Name}}
                                    p.content-des {{item.Description}}
                                    .content-ticket
                                        h3 門票說明
                                        .content-tag(v-if="item.Ticketinfo") {{item.Ticketinfo}}
                                        .content-tag(v-else) 無
                                    .content-addr
                                        i.ion.ion-md-locate
                                        p {{item.Add}}
                                    .content-open
                                        i.ion.ion-md-calendar
                                        p {{item.Opentime}}
                                    .content-webside
                                        a(v-if="item.Website" :href="item.Website" target="_blank")
                                            i.ion.ion-ios-link

                    //- 分頁區塊
                    .content-paging(v-if="!innerPage")
                        .page-text
                            p.p 共{{pageTotal}}頁 | 目前第{{pageIndex+1}}頁( {{pageCount}}筆1頁)
                        .page-btns
                            .page-item.page-prev(v-if="pageBtn.prev" @click="pageChange(pageBtn.prev)")
                                i.ion.ion-md-arrow-dropleft
                            .page-item(v-for="page in pageBtn.btn", @click="pageChange(page)", :class="{'active' : pageIndex == page.index-1}") {{page.value}} 
                            .page-item.page-next(v-if="pageBtn.next" @click="pageChange(pageBtn.next)")
                                i.ion.ion-md-arrow-dropright

                //- 內頁區塊
                transition(name="changePage")
                    article.content.content-inner-page(v-show="innerPage")
                        //- Breadcrumb
                        .breadcrumb
                            a.breadcrumb-item.breadcrumb-item-primary(href="./") 首頁
                            .breadcrumb-item {{innerData.Name}}
                            .breadcrumb-back(@click="toggleInnerPage") 回上一頁

                        //- 景點詳細內容區塊
                        ul.content-only
                            li.content-item
                                .content-img.imgbox
                                    .imgbox-inner
                                        img.img(:src="innerData.Picture1", alt="img")
                                .content-info
                                    h2.title {{innerData.Name}}
                                    .content-ticket
                                        h3 門票說明
                                        .content-tag(v-if="innerData.Ticketinfo") {{innerData.Ticketinfo}}
                                    .content-addr
                                        i.ion.ion-md-locate
                                        p {{innerData.Add}}
                                    .content-open
                                        i.ion.ion-md-calendar
                                        p {{innerData.Opentime}}
                                    .content-webside
                                        a(v-if="innerData.Website" :href="innerData.Website" target="_blank")
                                            i.ion.ion-ios-link
                                    p.content-des {{innerData.Description}}

            //- footer
            footer.footer
                p.footer-text Filter - The F2E 前端修練精神時光屋 [第二週賽事] | 高雄旅遊景點API應用 | Front End Development by HSI-MAO CHEN
                a.footer-link(href="https://github.com/hsimao/" target="_blank")
                    i.icon.ion-logo-github
                a.footer-link(href="https://codepen.io/hsimao" target="_blank")
                    i.icon.ion-logo-codepen
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js")
        script(src="./js/js.js")